{% assign current_path = page.url %}
<div class="blog-sidebar">
    <div class="ibox blog-sidebar-panel">
        <div class="ibox-content">
            <p class="blog-sidebar-eyebrow">Depth Gauge</p>
            <h3 class="blog-sidebar-title">Blog Menu</h3>
            <p class="blog-sidebar-copy">Glass-panel navigation for the archive layers.</p>
            <ul class="blog-sidebar-list">
                <li>
                    <a class="blog-sidebar-link {% if current_path == '/blog/' %}active{% endif %}" href="{{ '/blog/' | prepend: site.baseurl }}">
                        <span>All Posts</span>
                        <small>020m</small>
                    </a>
                </li>
                {% for item in site.data.blog %}
                    {% if item.name != 'Blog' and item.name != 'Donate' %}
                {% assign depth_label = '450m' %}
                {% case item.name %}
                {% when 'Development' %}
                {% assign depth_label = '180m' %}
                {% when 'CTF-Wargame' %}
                {% assign depth_label = '620m' %}
                {% when 'BugBounty' %}
                {% assign depth_label = '410m' %}
                {% when 'Technical Document' %}
                {% assign depth_label = '900m' %}
                {% when 'Paper-Conference' %}
                {% assign depth_label = '1240m' %}
                {% when 'Contest-Certification' %}
                {% assign depth_label = '760m' %}
                {% when 'Etc' %}
                {% assign depth_label = '330m' %}
                {% endcase %}
                <li>
                    <a class="blog-sidebar-link {% if current_path == item.href %}active{% endif %}" href="{{ item.href | prepend: site.baseurl }}">
                        <span>{{ item.name }}</span>
                        <small>{{ depth_label }}</small>
                    </a>
                </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
