<!-- jPages -->
<script type="text/javascript">
$(function(){
  /* initiate the plugin */
  $("div.pag-holder").jPages({
      containerID  : "pag-itemContainer",
      perPage      : 5,  /* num of items per page */
      startPage    : 1,
      startRange   : 1,
      midRange     : 3,
      endRange     : 1
  });
});
</script>

{% if page.category_key %}
{% assign category = page.category_key %}
{% else %}
{% assign category = page.url | remove:'/' | capitalize %}
{% endif %}
{% assign category_title = page.category_title | default: category %}
{% assign depth_label = '450m' %}
{% case category_title %}
{% when 'Development' %}
{% assign depth_label = '180m' %}
{% when 'CTF-Wargame' %}
{% assign depth_label = '620m' %}
{% when 'BugBounty' %}
{% assign depth_label = '410m' %}
{% when 'Technical Document' %}
{% assign depth_label = '900m' %}
{% when 'Paper-Conference' %}
{% assign depth_label = '1240m' %}
{% when 'Contest-Certification' %}
{% assign depth_label = '760m' %}
{% when 'Etc' %}
{% assign depth_label = '330m' %}
{% endcase %}

<section class="blog-ocean-hero blog-ocean-hero-category">
    <span class="blog-ocean-kicker">Category Archive</span>
    <h1>{{ category_title }}</h1>
    <div class="blog-ocean-meta">
        <span>{{ site.categories[category] | size }} entries at this depth</span>
        <span>Depth gauge {{ depth_label }}</span>
    </div>
</section>

<div class="wrapper wrapper-content animated fadeInRight blog blog-stream">
    <div class="row">
        <ul id="pag-itemContainer" class="blog-category-list">
            {% assign counter = 0 %}
            {% for post in site.categories[category] %}
            {% assign counter = counter | plus: 1 %}
            <li>
                <div class="col-lg-12">
                    <div class="ibox blog-category-card">
                        <div class="ibox-content">
                            <div class="blog-card-meta">
                                <span><i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }}</span>
                                <span><i class="fa fa-user"></i> {{ site.author.name }}</span>
                                <span><i class="fa fa-tint"></i> {{ depth_label }}</span>
                            </div>
                            <a href="{{ post.url | prepend: site.baseurl }}" class="btn-link blog-category-title">
                                <h2>{{ post.title }}</h2>
                            </a>
                            <p class="blog-card-excerpt">
                                {{ post.content | strip_html | truncate: 160 }}
                            </p>
                            <div class="row blog-category-footer">
                                <div class="col-md-8">
                                    {% for tag in post.tags %}
                                    <span class="blog-tag">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-md-4">
                                    <div class="small text-right blog-card-comments">
                                        {% if site.disqus %}
                                        <i class="fa fa-comments-o"></i> <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ post.url }}">0</span> comments
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if counter == 0 %}
        <div class="col-lg-12">
            <div class="ibox blog-category-card">
                <div class="ibox-content text-center">
                    <p class="blog-empty-state">No signals at this depth.</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% include pagination.html %}
    </div>
</div>
